<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Power Banners</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.joshdoctors.powerbanners/settingschanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.joshdoctors.powerbanners</string>
			<key>key</key>
			<string>enableTweak</string>
			<key>label</key>
			<string>Enable Tweak</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Low Power Banners</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.joshdoctors.powerbanners/settingschanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.joshdoctors.powerbanners</string>
			<key>key</key>
			<string>vibrateSwitch</string>
			<key>label</key>
			<string>Vibrate on Notification</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.joshdoctors.powerbanners/settingschanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.joshdoctors.powerbanners</string>
			<key>key</key>
			<string>respringSwitch</string>
			<key>label</key>
			<string>Notification on Respring*</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>*Only when battery is 20% or less</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>About</string>
		</dict>
		<dict>
			<key>action</key>
			<string>twitter</string>
			<key>alignment</key>
			<string>center</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>@Fewjative</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.joshdoctors.powerbanners/settingsChanged</string>
			<key>alignment</key>
			<string>center</string>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>Contribute</string>
			<key>label</key>
			<string>Contributors</string>
			<key>validTitles</key>
			<array>
				<string>@CPDigiDarkroom (arm64 Support)</string>
				<string>@alexzielenski (TinyBar)</string>
				<string>/u/Ghost3k (Tester)</string>
				<string>@snakeninny (LowPowerBanner)</string>
				<string>@primecode (LowPowerBanner)</string>
				<string>Matan Buzaglo (Icon)</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
			</array>
		</dict>
		</array>
	<key>title</key>
	<string>Options</string>
</dict>
</plist>
